<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Choose file</title>
</head>
<body>
    <div id="popup-window">
        <h1>Pop-up Window</h1>
        <p>This is a pop-up window.</p>
        <ul id="fol" class="filetree"></ul>
        <button id="close-button">Close</button>
    </div>
<!--    <script>
          // Get the elements by their ID
          var popupLink = document.getElementById("popup-link");
          var popupWindow = document.getElementById("popup-window");
          var closeButton = document.getElementById("close-button");
          // Show the pop-up window when the link is clicked
          popupLink.addEventListener("click", function(event) {
            event.preventDefault();
            popupWindow.style.display = "block";
          });
          // Hide the pop-up window when the close button is clicked
          closeButton.addEventListener("click", function() {
            popupWindow.style.display = "none";
          });
    </script>-->


</body>
</html>
