{% extends 'base.html' %}
{% block 'body' %}
{% load widget_tweaks %}
{% load static %}

<div class="container">

    <h2 style="color: Red">{{ note }}</h2>

    {% if form.errors %}
        <div class="alert alert-danger">
            {{ form.errors }}
        </div>
    {% endif %}

    <form action="{% url 'whisper' %}" method="post">
        {% csrf_token %}
        {% for field in addform %}
            <div class="form-group {%if field.errors %}alert alert-danger{%endif%}">
              {% csrf_token %}
              {{ field.errors }}
              {{ field.label_tag }}
              {% render_field field class="form-control" %}
            </div>
        {% endfor %}
        <div>
            <input type="submit" value="Next">
        </div>
    </form>
</div>

{% endblock %}
